.body {
  height: 100%; }

.main-wrapper {
  max-width: 1100px;
  min-width: 1100px;
  margin: 0 auto; }

.content-wrapper {
  background: #F4F4F4; }

.main-header {
  height: 175px; }

.contacts {
  height: 80px;
  line-height: 80px; }

.socials {
  height: 100%;
  width: 300px;
  float: left; }
  .socials-list {
    padding: 20px 0 0 20px; }
  .socials-list__item {
    float: left;
    text-indent: -999px;
    margin-right: 10px; }
  .socials-list__link {
    display: block;
    text-indent: -999px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000; }

.address {
  width: 200px;
  height: 100%;
  float: right;
  font-family: open_sansregular;
  font-size: 14px;
  color: #333; }

.tel {
  width: 200px;
  float: right;
  height: 100%;
  font-family: open_sanssemibold;
  font-size: 18px;
  color: #333; }

.logo {
  width: 100%;
  height: 95px;
  background: #F4F4F4; }
  .logo-wrap {
    padding-top: 30px;
    float: left;
    width: 270px;
    height: 100%; }

.search-wrap {
  padding: 5px 0 0 40px;
  margin: 0;
  height: 100%;
  width: 430px;
  float: left; }

.search-form {
  padding-top: 32px;
  margin: 0px; }
  .search-form__button {
    font-family: open_sanssemibold;
    font-size: 16px;
    padding: 0;
    margin: 0;
    color: white;
    width: 80px;
    outline: none;
    border: none;
    height: 31px;
    margin-top: -1px;
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #ff6600; }
  .search-form__input {
    border: 1px solid #e1e1e1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 5px 5px 5px 15px;
    margin: 0;
    float: left;
    color: #7f7f7f;
    font-family: open_sanslight;
    font-size: 14px;
    height: 30px;
    width: 250px; }

.user-menu {
  padding-top: 40px;
  height: 100%; }
  .user-menu-list__item {
    float: left;
    margin-right: 25px; }
  .user-menu-list__link {
    display: block;
    font-family: open_sanssemibold;
    font-size: 16px;
    color: #333; }
  .user-menu-list__link-active {
    font-family: open_sanssemibold;
    font-size: 16px;
    color: #ff6600; }

.main-nav-wrap {
  height: 50px;
  background: #fff;
  margin: 0 auto; }

.main-nav-list__item {
  display: inline-block;
  text-align: center;
  float: left;
  line-height: 50px;
  height: 100%;
  margin: 0; }

.main-nav-list__link {
  display: block;
  height: 100%;
  padding: 0 10px 0 10px;
  font-family: open_sansregular;
  font-size: 16px;
  color: #333;
  text-decoration: none; }
  .main-nav-list__link:hover {
    background: #E5E3E3; }
  .main-nav-list__link-active {
    display: block;
    font-family: open_sanssemibold;
    font-size: 16px;
    color: #fff;
    background: #FF6600;
    text-decoration: none;
    padding: 0 15px; }

.bread-crumbs {
  margin: 30px 0; }
  .bread-crumbs__link {
    text-decoration: underline;
    font-family: open_sansregular;
    font-size: 14px;
    color: #333; }
    .bread-crumbs__link:after {
      content: ' > '; }
  .bread-crumbs__link-current {
    color: #ff6600; }

.main-heading {
  margin: 0 0 30px 0; }
  .main-heading__title {
    font-family: open_sansbold;
    font-size: 20px;
    color: #333; }

.content-sidebar {
  width: 300px;
  min-height: 500px;
  float: left; }

.filter-wrap {
  padding: 0 0 0 0;
  border: 1px solid #E4E7E9;
  background: #fff;
  margin-top: 40px;
  border-radius: 5px; }

.filter-list {
  padding: 0; }

.toggle {
  background: url("../img/sprite.png") no-repeat -163px -12px;
  width: 18px;
  height: 11px;
  position: absolute;
  top: 10px;
  left: 270px; }

.filter-block {
  position: relative;
  border-bottom: 1px solid #e1e1e1;
  padding: 15px 0 0 25px; }
  .filter-block-list__item {
    margin-bottom: 15px; }
  .filter-block-list__item-color {
    display: inline-block;
    float: left; }
  .filter-block__heading {
    margin: 0 0 15px 0;
    font-family: open_sanssemibold;
    font-size: 16px;
    color: #333; }

.radio-label {
  cursor: pointer;
  padding: 0 0 0 25px;
  position: relative; }

.radio-input {
  vertical-align: top;
  margin: 0 20px 0 0;
  width: 25px;
  height: 25px;
  transition: ease out .01; }

.radio-input:not(checked) {
  display: none;
  opacity: 0; }

.radio-input:not(checked) + .radio-label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #DCDDDF;
  transition: ease .1s;
  box-sizing: border-box; }

.radio-input:checked + .radio-label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FF6300;
  transition: ease .1s; }

.radio-input:checked + .radio-label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #FF6300;
  transition: ease .1s;
  box-sizing: border-box; }

.checkbox-label {
  padding: 0 0 0 25px;
  cursor: pointer;
  position: relative; }

.checkbox-input:not(checked) {
  opacity: 0;
  position: absolute; }

.checkbox-input:not(checked) + .checkbox-label:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: #DDE2E5;
  border-radius: 2px;
  top: -2px;
  left: 0px; }

.checkbox-input:not(checked) + .checkbox-label:hover:after {
  position: absolute;
  content: '';
  background: url("../img/sprite.png") no-repeat -110px -4px;
  background-color: #DFE4E7; }

.checkbox-input:checked + .checkbox-label:after {
  position: absolute;
  content: '';
  background: url("../img/sprite.png") no-repeat -20px -57px;
  background-color: #FF6300;
  border-radius: 2px; }

.color-list {
  width: 225px;
  padding: 0;
  margin: 0; }
  .color-list__item {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 22px;
    margin-bottom: 22px; }
  .color-list__link {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid #dee1e4;
    box-sizing: content-box; }
    .color-list__link-ffffff {
      background: #fff; }
    .color-list__link-cccccc {
      background: #ccc; }
    .color-list__link-000000 {
      background: #000; }
    .color-list__link-0a3153 {
      background: #0a3153; }
    .color-list__link-ff1800 {
      background: #ff1800; }
    .color-list__link-fff343 {
      background: #fff343; }
    .color-list__link-fb914a {
      background: #fb914a; }
    .color-list__link-92c37c {
      background: #92c37c; }
    .color-list__link-40a6ff {
      background: #40a6ff; }
    .color-list__link-9870ad {
      background: #9870ad; }
    .color-list__link-dc78ad {
      background: #dc78ad; }
    .color-list__link-7f401d {
      background: #7f401d; }
    .color-list__link:focus {
      border: 2px solid orange; }

.cell-type-select {
  border-radius: 4px;
  border: 1px solid #dee1e4; }

.cell-type {
  margin: 0; }

.radio-label-cell {
  cursor: pointer;
  padding: 15px 0 15px 30px;
  position: relative;
  border-radius: 2px;
  display: block; }

.radio-input-cell {
  vertical-align: top;
  margin: 0 20px 0 0;
  width: 25px;
  height: 25px;
  transition: ease out .01; }

.radio-input-cell:not(checked) {
  display: none;
  opacity: 0; }

.radio-input-cell:not(checked) + .radio-label-cell {
  background: #fbfbfb; }

.radio-input-cell:checked + .radio-label-cell {
  background: #d9e5ea; }

.content-rightcol {
  margin-left: 310px;
  min-height: 500px; }

.sort-n-view {
  height: 50px;
  background: #D9E7EC;
  border-radius: 4px;
  border: 1px solid #DDE2E5;
  padding: 0 0 0 15px;
  font-family: open_sansregular;
  color: #5d656c;
  font-size: 14px; }
  .sort-n-view__sort {
    width: 300px;
    height: 100%;
    float: left;
    line-height: 50px; }
  .sort-n-view__view {
    width: 300px;
    height: 100%;
    float: right; }

.sort-form {
  position: relative; }
  .sort-form__select {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0; }
  .sort-form__fake-select {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #ebedef;
    border-radius: 3px;
    background-color: white;
    box-shadow: inset 0px 1px 1px 0px rgba(148, 148, 148, 0.43);
    width: 141px;
    height: 26px;
    position: absolute;
    cursor: pointer;
    top: 10px; }
    .sort-form__fake-select:after {
      position: absolute;
      right: 4px;
      top: 8px;
      content: '';
      background: url("../img/sprite.png") no-repeat -24px -9px;
      width: 12px;
      height: 8px; }

.fa {
  margin-right: 15px;
  color: #A4BBC3;
  font-size: 20px; }

.products-list {
  text-align: justify;
  text-align-last: justify; }
  .products-list:after {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: '';
    display: inline-block; }
  .products-list__item {
    display: inline-block;
    width: 100%;
    border: 1px solid #dee1e4; }

.product-gallery {
  width: 180px;
  height: 100%;
  background: #444;
  float: left; }
  .product-gallery__mainimg {
    margin: 0 auto;
    width: 135px;
    height: 135px; }

.thumbs-list {
  text-align: justify;
  text-align-last: justify;
  width: 135px;
  margin: 0 auto; }
  .thumbs-list:after {
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 0;
    content: '';
    display: inline-block; }
  .thumbs-list__item {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #dee1e4; }

.product-info {
  text-align: left;
  width: 400px;
  background: #e1e1e1; }

.product-buy {
  float: right;
  width: 300px;
  height: 100%;
  background: #e2e2e2; }

.b-social-buttons {
  position: relative;
  top: 25%; }
  .b-social-buttons__item {
    float: left;
    overflow: hidden;
    text-indent: -999px; }

.b-social-link {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  margin-left: 5px; }

.b-address {
  height: 100%;
  line-height: 60px;
  float: right;
  padding-right: 10px;
  padding-left: 10px; }

.b-phone {
  height: 100%;
  line-height: 60px;
  float: right;
  padding-right: 10px;
  padding-left: 10px; }

.b-search-header {
  width: 100%;
  height: 70px; }

.b-logo {
  height: 100%;
  width: 33.3%;
  float: left; }

.b-search {
  width: 33.3%;
  height: 100%;
  float: left; }

.b-common-menu {
  float: right;
  width: 33.3%;
  height: 100%; }

.b-nav-list__item {
  float: left;
  margin-right: 5px; }

.b-breadcrumbs {
  height: 30px; }

.b-main-content__sidebar {
  width: 200px; }

.b-sidebar__presence {
  background: cornsilk; }

.b-sidebar__brands {
  background: khaki; }

.b-sidebar__price {
  background: forestgreen; }

.b-sidebar__color {
  background: coral; }

.b-price {
  height: 100px; }

.b-color {
  height: 100px; }

.b-os__name {
  display: block; }

.b-os__checkbox {
  float: left; }
