doctype html
html(lang="ru-RU")
  head
    title Smartphone Shop
    link(rel="stylesheet" href="../libs/normalize-css/normalize.css")
    link(rel="stylesheet" href="../libs/components-font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="../css/unstyle.css")
    link(rel="stylesheet" href="../css/main.css")
    link(rel="stylesheet" href="../css/fonts.css")
  body
    div.main-wrapper
      header.main-header
        div.contacts
          div.socials
            ul.socials-list
              li.socials-list__item
                a.socials-list__link(href="#1") Facebook
              li.socials-list__item
                a.socials-list__link(href="#1") Вконтакте
              li.socials-list__item
                a.socials-list__link(href="#1") Твиттер
          div.tel +7 (921) 123-12-13
          div.address ул. Маяковского, д.6, оф. 17
        div.logo.clearfix
          div.logo-wrap
            img(src="../img/cooltech.png")
          div.search-wrap.clearfix
            form.search-form(action="/go.php")
              input.search-form__input(placeholder="Что будем искать?")
              button.search-form__button(value="Найти" type="submit") Найти
          div.user-menu
            ul.user-menu-list
              li.user-menu-list__item
                 a.user-menu-list__link-active(href="#1") Карта проезда
              li.user-menu-list__item
                 a.user-menu-list__link(href="#1") История заказов
              li.user-menu-list__item
                 a.user-menu-list__link(href="#1") Корзина
      nav.main-nav 
        div.main-nav-wrap
          ul.main-nav-list
            li.main-nav-list__item
              a.main-nav-list__link(href="#") Планшеты
            li.main-nav-list__item
              a.main-nav-list__link(href="#") Мобильные телефоны
            li.main-nav-list__item
              a.main-nav-list__link-active(href="#") МП3 Плееры
            li.main-nav-list__item
              a.main-nav-list__link(href="#") Персональные компьютеры
            li.main-nav-list__item
              a.main-nav-list__link(href="#") Планшеты
            li.main-nav-list__item
              a.main-nav-list__link(href="#") Мобильные телефоны 
            li.main-nav-list__item
              a.main-nav-list__link(href="#") МП3 Плееры
            
      div.bread-crumbs
        span.bread-crumbs__link.bread-crumbs__link-current Главная
        span.bread-crumbs__link Каталог
      div.main-heading 
        h2.main-heading__title Мобильные телефоны 
      main.content-wrapper.clearfix
        aside.content-sidebar
          div.cell-type-select
               ul.filter-block-list.cell-type
                    li.filter-block-list__item.cell-type
                      input.radio-input-cell(type="radio" name="cell" id="type1")
                      label.radio-label-cell(for="type1") Флагманы
                    li.filter-block-list__item.cell-type
                      input.radio-input-cell(type="radio" name="cell" id="type2")
                      label.radio-label-cell(for="type2") Бюджетная линейка
          div.filter-wrap
            ul.filter-list
              li.filter-block
                h3.filter-block__heading Наличие в магазинах
                div.toggle
                div.filter-block__item
                  ul.filter-block-list
                    li.filter-block-list__item
                      input.radio-input(type="radio" name="shop" id="shop1")
                      label.radio-label(for="shop1") Во всех магазинах
                    li.filter-block-list__item
                      input.radio-input(type="radio" name="shop" id="shop2")
                      label.radio-label(for="shop2") В ближайшем ко мне магазине
              li.filter-block
                h3.filter-block__heading Бренды
                div.toggle
                div.filter-block__item
                  ul.filter-block-list
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="option1")
                      label.checkbox-label(for="option1") Lenovo
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="option2")
                      label.checkbox-label(for="option2") Apple
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="option3")
                      label.checkbox-label(for="option3") Samsung
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="option4")
                      label.checkbox-label(for="option4") Asus
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="option5")
                      label.checkbox-label(for="option5") Motorola
              li.filter-block
                h3.filter-block__heading Цвет
                div.toggle
                div.filter-block__item
                  ul.filter-block-list.color-list
                    li.color-list__item
                      a.color-list__link.color-list__link-ffffff(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-cccccc(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-000000(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-0a3153(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-ff1800(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-fff343(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-fb914a(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-92c37c(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-40a6ff(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-9870ad(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-dc78ad(href="#1")
                    li.color-list__item
                      a.color-list__link.color-list__link-7f401d(href="#1")
              li.filter-block
                h3.filter-block__heading Операционные системы
                div.toggle
                div.filter-block__item
                  ul.filter-block-list
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="os1")
                      label.checkbox-label(for="os1") Android
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="os2")
                      label.checkbox-label(for="os2") iOS
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="os3")
                      label.checkbox-label(for="os3") Windows Mobile
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="os4")
                      label.checkbox-label(for="os4") Symbian
                    li.filter-block-list__item
                      input.checkbox-input(type="checkbox" id="os5")
                      label.checkbox-label(for="os5") Custom
                    



        div.content-rightcol
          div.sort-n-view.clearfix
            div.sort-n-view__sort
              form.sort-form(action="#" method="post")
                label.sort-form__label Сортировать по:
                select.sort-form__select
                span.sort-form__fake-select

            div.sort-n-view__view 
              span Вид каталога
              i.fa.fa-th-list
              i.fa.fa-th
              i.fa.fa-align-justify
          div.products-wrapper
            ul.products-list
              li.products-list__item
                div.product-gallery
                  div.product-gallery__mainimg
                    img(src="http://placehold.it/135x135")
                  div.product-gallery__thumbs
                    ul.thumbs-list
                      li.thumbs-list__item 
                      li.thumbs-list__item 
                      li.thumbs-list__item 
                  div.product-gallery__vc
                    span.vc-title Артикул
                    span.vc 372813712
                div.product-info
                  h3.product-info__title Product Title
                  p.product-info__description Product Description
                  div.product-info__rating
                    span.rating-star s
                    span.rating-star s
                    span.rating-star s
                    span.rating-star s 
                    span.rating-star.unstar u
                    span.rating-number 6
                div.product-buy 22



             
